/*** CSS PicShare ***/

.add-btn { 
	-fx-background-radius: 7px; 
	-fx-padding: 5px 10px 5px 30px; 
	-fx-background-image: url('add_btn.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10%;
}

.delete-btn {
	-fx-background-radius: 7px; 
	-fx-padding: 5px 10px 5px 30px; 
	-fx-background-image: url('delete_btn.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10%;
}

.groups-btn {
	-fx-background-radius: 7px; 
	-fx-padding: 5px 10px 5px 30px; 
	-fx-background-image: url('groups_icon2.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 1%;
	-fx-background-size: 15%;
}

.settings-btn {
	-fx-background-radius: 7px; 
	-fx-padding: 5px 10px 5px 20px; 
	-fx-background-image: url('settings_icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10%;
	-fx-background-size: 14%;
}

.add-friend-btn {
	-fx-background-image: url('add_friend_icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 50%;
}

.images-area {
	-fx-background-image: url('bg_images_area.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: left 110%;
	-fx-background-size: 40%;
	-fx-background-color: #EFEFEF;
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: #E96538;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.tab:selected 
{
/*    -fx-background-color: white;*/
/*    -fx-background-color: -fx-tab-border-color, -fx-inner-border, -fx-body-color;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-background-insets: 0, 1 1 0 1, 2 2 0 2;*/
	-fx-background-color: #f8b77a;
	-fx-background-insets: 0, 1 1 0 1;
	-fx-background-radius: 5 5 0 0, 4 4 0 0;
}

.settings-pane {
	-fx-background-image: url('bg_settings.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: right 95%;
	-fx-background-size: 31%;
}

.connexion-btn {
	-fx-background-color : #6D6E71;
	-fx-text-fill: white;
}

.add-group-btn {
	-fx-background-image: url('add_groups_icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 50%;
	-fx-background-size: 80%;
}

.header-tabs {
	-fx-background-color: #6D6E71;
}

.tab-pane:top *.tab-header-area 
{
-fx-background-color: #6D6E71;
-fx-background-insets: 0, 0 0 1 0;
-fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
}

.settings-pane-title {
	-fx-background-color: #6D6E71;
}

.tab-header-background {
	-fx-background-color: #6D6E71!important;
}

.title {
	-fx-background-color: #6D6E71;
	
}

.title .text {
	-fx-text-fill: white;
}

/* PictureController dynamically created items */
.pic-him {
	-fx-background-image: url('bg_images_area.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: left 110%;
	-fx-background-size: 40%;
	-fx-background-color: #EFEFEF;
}
.pic-title {
 	-fx-font-weight: bold;
}
